<section id="about" class="animated fadeIn" style="padding: 30px 0">
  <div class="container">
      <div class="row">
            <div class="col">
                <h1 class="red-text animated zoomInRight"><strong>About</strong></h1>
            </div>
      </div>
      <hr>
      <div class="row">
          <div class="col">
              <h4 class="animated zoomInRight"><strong>What is tr3Designs?</strong></h4>
              <p><strong>tr3Designs</strong> is an ecommerce mobile application that sells additive manufacturing, (3D printed), products. Products range from the smallest of trinkets such as jewelry, to common necessities like ashtrays and cutlery.</p>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col">
              <h4 class="animated zoomInRight"><strong>Mission Statement</strong></h4>
              <p><strong>"Display good energy through artistry."</strong></p>
          </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
            <h4 class="animated zoomInRight"><strong>Private Policy</strong></h4>
            <p><strong>What information do you collect?</strong> <i>The information collected for tr3Designs includes;</i></p>
            <ul>
                <li>First Name</li>
                <li>Last Name</li>
                <li>Email</li>
                <li>Card Number</li>
                <li>Card Expiration Date</li>
                <li>Card CVC Code</li>
            </ul>
            <p><strong>How do you use the information?</strong> <i>The profile informaton, (first name, last name, email), is soley used as a way to identify you as a customer. Credit card information is used to allow purchases.</i></p>
            <p><strong>What information do you share?</strong> <i>There is no infomration that is shared.</i></p>
        </div>
    </div>
  </div>
</section>
